
header.about-header {
    background: #2d3142;
    padding: 5% 0;
    text-align: center;
}

header.about-header h1 {
    font-size: 3.5rem;
    font-family: var(--main-font);
    color: var(--coral-orange);
    margin-bottom: 1.5%;
}

header.about-header p {
    font-size: 1.6rem;
    font-family: var(--sub-font);
    color: var(--light-gray);
    width: 70%;
    margin: auto;
}

.about-section {
	background: var(--slate-gray);
	text-align: center;
	padding-top: 5%;
}

.about-section h1 {
	color: #EA794D;
	font-size: 3rem;
	font-family: var(--main-font);
	margin-bottom: 2%;
}

.about-section p {
	font-family: var(--sub-font);
	color: #BFC0C0;
	font-size: 2rem;
	line-height: 1.8;
}

.image-placeholder {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 3% auto;
	background: gray;
}

.about-profiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4%;
}

.about-person {
    flex-basis: 45%;
    margin-bottom: 5%;
    padding: 2% 4%;
}

.about-person span {
	color: #EA794D;
}

.about-person h4 {
	font-size: 1.8rem;
	font-family: var(--main-font);
	color: #fff;
	margin-bottom: 2%;
}

.about-person p {
	color: var(--light-gray);
	font-size: 1.6rem;
}

.about-social i {
	font-size: 2.2rem;
}

.about-social i:hover {
	cursor: pointer;
	color: var(--coral-orange)
}

.fa-github-alt {
	color: #000;
}

.fa-twitter {
	color: #4ca5dd;
}

.about-social i:first-child {
	margin-right: 5%;
}

/* -------Breakpoints for About.html ------------------------------------------------------------------------------------------*/

@media (max-width: 800px) {

	header.about-header {
		padding: 10% 0;
	}

	.container {
		padding: 0 4%;
	}

	.about-profiles {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 5%;
	}

	.about-person {
		margin-bottom: 5%;
	}

	.about-person:nth-child(odd) {
		background: #3c4b65;
		margin-bottom: 0;
	}

	.about-person:last-of-type {
		margin-bottom: 8%;
	}

	.about-section h1 {
		font-size: 2.3rem;
	}

	.about-section p {
		font-size: 1.6rem;
	}

	.about-social {
		margin-top: 4%;
	}

	.about-social i {
		font-size: 2.5rem;
	}

	.about-social a:first-of-type {
		margin-right: 5%;
	}
}

@media (max-width: 500px) {

    header.about-header {
        padding: 7% 0;
    }

	header.about-header h1 {
		font-size: 2.5rem;
	}
	.container {
		padding: 0;
	}

	.about-bio {
		margin-bottom: 8%;
	}

	.about-section h1 {
		margin-top: 5%;
	}

	.product-description-section .container {
		padding: 1.5% 0;
	}

	.cta {
		margin-bottom: 8%;
	}

	.about-social {
		margin-top: 4%;
	}

	.about-social i {
		font-size: 2.8rem;
	}

	.about-social a:first-of-type {
		margin-right: 13%;
	}
}