h1 {
    font-size: 3rem;
    font-family: var(--main-font);
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 4% 0;
}

.customer-box {
	box-shadow: 0 0 10px 5px #dcdcdc;
	transition: 150ms;
	background: #fff;
	position: relative;
}

.customer-box:hover {
	box-shadow: 0 1px 2px 1px #ababab;
	transition: 150ms;
}

.box-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.box-top p.customer-name {
    font-size: 1.2rem;
    font-family: var(--sub-font);
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.box-top p  {
    margin-right: 2%;
    font-size: 1.3rem;
    color: #FFC107;
}

.testimonial-container-top, .testimonial-container-bottom {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}

.testimonial-container-top .customer-box {
	border: none;
	border-radius: 7px;
	flex-basis: 35%;
	padding: 1%;
}


.testimonial-container-top .customer-box p.customer-p-generic, .testimonial-container-bottom .customer-box p.customer-p-generic {
	font-size: 1.5rem;
	font-family: var(--sub-font);
	color: #000;
	line-height: 1.5;
}

.testimonial-container-bottom .customer-box {
	border: none;
	border-radius: 7px;
	flex-basis: 30%;
	padding: 1%;
}

.testimonial-container-bottom .customer-box p {
	margin-bottom: 2%;
}

.testimonial-main {
	padding: 1%;
	margin: 4% auto;
}

.testimonial-main .customer-box {
	box-shadow: none;
	background: transparent;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 2rem;
    font-family: var(--sub-font);
    line-height: 1.5;
}

.customer-box img {
	width: 15%;
	border-radius: 50px;
	margin-bottom: 1%;
}

.customer-p-main {
	text-align: center;
	margin-bottom: 1.5%;
}

.customer-main-name {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin-bottom: 0.5%;
}

#customer-img-main {
	width: 7%;
}

.testimonial-main .customer-box i.fa-quote-right, .testimonial-main .customer-box i.fa-quote-left {
	font-size: 3rem;
	display: inline;
	color: var(--coral-orange);
	margin: 0 0.5%;
}

.testimonial-main .customer-box i.fa-star {
	color: #FFC107;
	font-size: 2.5rem;
}





/* ***************************************************************************************************************************************************************** */
.contact-body {
	background: #F5F5F5;
}

.contact-image {
    width: 73%;
    border: 5px solid white;
    border-radius: 5px;
}

.contact-section {
	margin-top: 5%;
}

.contact-section h1 {
	text-align: center;
	font-size: 3rem;
	font-family: var(--main-font);
	font-weight: 700;
	color: #fff;
	margin-bottom: 4%;
}

.contact-container {
	display: flex;
}

.contact-container div {
	flex-basis: 50%;
	/* border: 2px solid green; */
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.contact-form input {
    border: 2px solid #fff;
	border-radius: 9px;
	background: transparent;
	color: #fff;
	font-size: 1.5rem;
	font-family: var(--sub-font);
    width: 46%;
    padding: 1.5% 2%;
    margin-bottom: 2%;
    /* text-align: center; */
}


.contact-form textarea {
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--sub-font);
    width: 48%;
    height: 200px;
    margin-bottom: 2%;
    padding: 1%;
}

.contact-form button {
	font-family: var(--sub-font);
	font-size: 1.5rem;
	background: var(--coral-orange);
	color: #fff;
	width: 50%;
	border: none;
	border-radius: 9px;
	padding: 1.5%;
}

.contact-form button:hover {
	background: #ea6023;
	cursor: pointer;
}
/* ----------breakpoints for CONTACT------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {
	.contact-container {
		flex-direction: column;
	}

	.contact-section {
		margin-bottom: 5%;
	}

	.contact-image {
		width: 50%;
		margin-bottom: 4%;
	}

	#contact-footer {
		position: static;
	}

	@media (max-width: 500px) {

		.contact-image {
			display: none;
		}

		.contact-section {
			margin-top: 20%;
		}

		.contact-section h1 {
			margin-bottom: 8%;
		}

		.contact-form input {
			border: 2px solid #fff;
			border-radius: 9px;
			background: transparent;
			color: #fff;
			font-size: 1.5rem;
			font-family: var(--sub-font);
			width: 65%;
			padding: 1.5% 2%;
			margin-bottom: 5%;
			/* text-align: center; */
		}

		.contact-form textarea {
			border-radius: 10px;
			border: 2px solid #fff;
			background: transparent;
			color: #fff;
			font-size: 1.6rem;
			font-family: var(--sub-font);
			width: 67%;
			height: 200px;
			margin-bottom: 5%;
			padding: 1%;
		}

		#contact-footer {
			position: fixed;
			bottom: 0;
		}
	}
}