:root {
	--main-bg-color: rgb(45,49,66);
	--dark-blue: #2d3142;
	--light-gray: #bfc0c0;
	--coral-orange: #ef8354;
	--slate-gray: #4f5d75;
	--main-font: 'Comfortaa', cursive;
	--sub-font: 'Nunito', sans-serif;
}

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;
box-sizing: border-box;
padding: 0;  
font: inherit;  
vertical-align: baseline;
}
/*GENERAL STYLES*/
html{
    font-size:62.5%;
}

body {
	background: var(--main-bg-color);
	position: relative;
}

.container {
	padding: 0 10%;
}

nav.nav-header {
	background: var(--main-bg-color);
}

nav.nav-header .container, nav.nav-footer .container {
	display: flex;
	justify-content: space-around;
	font-size: 1.8rem;
	padding: 2% 0;
}

.nav-logo {
	font-size: 2.4rem;
	font-family: var(--main-font);
	color: #fff;
}

.nav-links {
	flex-basis: 60%;
	text-align: right;
}

nav.nav-header a {
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	font-family: var(--sub-font);
	margin: 0 2%;
}

nav.nav-header a:hover {
	color: #EA794D;
	transition: 200ms;
}

.nav-button {
	display: none;
}

header.main-header .container {
	background: var(--main-bg-color);
	display: flex;
	/* height: 65vh; */
	padding: 5% 10%;
}

.header-text {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-image {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-image img {
	border-radius: 4px;
	width: 100%;
	filter: drop-shadow(0px 2px 7px black);
}

header.main-header h1 {
	font-size: 2.5rem;
	font-family: var(--main-font);
	color: #fff;
	margin-bottom: 2%;
}

header.main-header p {
	font-size: 1.5rem;
	font-family: var(--sub-font);
	margin-bottom: 4%;
	color: #bfc0c0;
	line-height: 1.8;
	width: 85%;
}

header.main-header button {
    border: 1px solid var(--coral-orange);
    border-radius: 50px;
    font-family: var(--sub-font);
	background: var(--coral-orange);
    color: #fff;
    font-size: 1.5rem;
    padding: 2% 4%;
    min-width: 25%;
}

header.main-header button:hover {
	cursor: pointer;
	background: #ea794d;
	transition: 200ms;
}

header.main-header::after {
    content: '';
    width: 100%;
    height: 3vh;
    background: #2d3142;
    position: absolute;
    border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.product-description-section .container {
	background: var(--slate-gray);
	display: flex;
	flex-wrap: wrap;
	padding: 1.5% 9%;
	justify-content: space-between;
}

.product-box {
	flex-basis: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7%;
	margin-right: 2.5%;
}

.product-box i {
	margin-right: 3%;
    font-size: 4rem;
    color: #fff;
}

.product-box-description h4 {
	color: #fff;
	font-size: 2.4rem;
	font-family: var(--main-font);
	margin-bottom: 1%;
}

.product-box-description p {
	color: var(--light-gray);
	font-family: var(--sub-font);
	font-size: 1.6rem;
}

.cta {
    background: #414d61;
    border-radius: 5px;
    padding: 2% 5%;
    margin: 7% auto;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta h4 {
	color: #fff;
	font-size: 2.5rem;
	font-family: var(--main-font);
	margin-bottom: 2%;
}

.cta p {
	color: var(--light-gray);
	font-size: 1.8rem;
	font-family: var(--sub-font);
	line-height: 1.8;
	margin-bottom: 4%;
}

.cta button {
    border: 1px solid var(--coral-orange);
    border-radius: 50px;
	font-family: var(--sub-font);
	font-size: 1.4rem;
    background: var(--coral-orange);
    color: #fff;
    padding: 2.5% 4%;
    min-width: 28%;
}

.cta button:hover {
	cursor: pointer;
	background: #ea794d;
	transition: 200ms;
}

nav.nav-footer  {
	background: var(--main-bg-color);
}

nav.nav-footer a {
	text-decoration: none;
	color: rgba(250, 250, 250, 0.5);
	font-size: 2rem;
	font-family: var(--sub-font);
	margin: 0 2%;
}

/* About Page------------------------------------------------------------------------------------------------------------------------------------- */

header.about-header {
    background: #2d3142;
    padding: 5% 0;
    text-align: center;
}

header.about-header h1 {
    font-size: 3.5rem;
    font-family: var(--main-font);
    color: var(--coral-orange);
    margin-bottom: 1.5%;
}

header.about-header p {
    font-size: 1.6rem;
    font-family: var(--sub-font);
    color: var(--light-gray);
    width: 70%;
    margin: auto;
}

.about-section {
	background: var(--slate-gray);
	text-align: center;
	padding-top: 5%;
}

.about-section h1 {
	color: #EA794D;
	font-size: 3rem;
	font-family: var(--main-font);
	margin-bottom: 2%;
}

.about-section p {
	font-family: var(--sub-font);
	color: #BFC0C0;
	font-size: 2rem;
	line-height: 1.8;
}

.image-placeholder {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 3% auto;
	background: gray;
}

.about-profiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4%;
}

.about-person {
    flex-basis: 45%;
    margin-bottom: 5%;
    padding: 2% 4%;
}

.about-person span {
	color: #EA794D;
}

.about-person h4 {
	font-size: 1.8rem;
	font-family: var(--main-font);
	color: #fff;
	margin-bottom: 2%;
}

.about-person p {
	color: var(--light-gray);
	font-size: 1.6rem;
}

.about-social i {
	font-size: 2.2rem;
}

.about-social i:hover {
	cursor: pointer;
	color: var(--coral-orange)
}

.fa-github-alt {
	color: #000;
}

.fa-twitter {
	color: #4ca5dd;
}

.about-social i:first-child {
	margin-right: 5%;
}

/* ---CONTACT PAGE ----------------------------------------------------------------------------------------------------- */

.contact-body {
	background: rgb(42, 45, 53);
}

.contact-image {
    width: 73%;
    border: 5px solid white;
    border-radius: 5px;
}

.contact-section {
	margin-top: 5%;
}

.contact-section h1 {
	text-align: center;
	font-size: 3rem;
	font-family: var(--main-font);
	font-weight: 700;
	color: #fff;
	margin-bottom: 4%;
}

.contact-container {
	display: flex;
}

.contact-container div {
	flex-basis: 50%;
	/* border: 2px solid green; */
	/* background: red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.contact-form input {
    border: 2px solid #fff;
	border-radius: 9px;
	background: transparent;
	color: #fff;
	font-size: 1.5rem;
	font-family: var(--sub-font);
    width: 46%;
    padding: 1.5% 2%;
    margin-bottom: 2%;
    /* text-align: center; */
}


.contact-form textarea {
    border-radius: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--sub-font);
    width: 48%;
    height: 200px;
    margin-bottom: 2%;
    padding: 1%;
}

.contact-form button {
	font-family: var(--sub-font);
	font-size: 1.5rem;
	background: var(--coral-orange);
	color: #fff;
	width: 50%;
	border: none;
	border-radius: 9px;
	padding: 1.5%;
}

.contact-form button:hover {
	background: #ea6023;
	cursor: pointer;
}

#contact-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
} 



/* Breakpoints -------------------------------------------------------------------------------------------------------- */

@media (max-width: 1400px) {
	header.main-header .container {
		/* height: 60vh; */
	}
}

@media (max-width: 1230px) {
	.product-box-description h4 {
		font-size: 1.9rem;
	}

	.cta {
		margin: 6% auto;
	}
}

@media (max-width: 800px) {

	nav.nav-header a {
		font-size: 1.7rem;
	}

	header.main-header .container {
		flex-direction: column-reverse;
		padding-top: 4%;
		/* height: 75vh; */
	}

	header.main-header button {
		min-width: 25%;
	}

	header.main-header p {
		width: 90%;
	}

	.header-image img {
		padding-bottom: 5%;
	}

	.product-description-section .container {
		justify-content: space-between;
		padding-top: 5%;
	}

	.product-box-description h4 {
		font-size: 1.8rem;
	}

	.product-box-description p {
		font-size: 1.6rem;
	}

	.product-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 7%;
		margin-right: 2.5%;
		text-align: center;
	}

	.product-box i {
		margin-bottom: 5%;
	}

	.cta {
		flex-basis: 70%;
		margin: 9% auto 5%;
		padding: 4% 5%;
	}

	.cta button {
		min-width: 35%;
	}

	nav.nav-header .container, nav.nav-footer .container {
		padding: 4% 0;
	}
}

@media (max-width: 500px) {

	.nav-button {
		display: block;
	}

	.fa-bars {
		position: absolute;
		top: 0.5%;
		left: 3%;
	}

	.nav-links {
		max-height: 1000px;
		transition: 600ms;
	}

	.nav-link {
		transition: 500ms;
	}

	.shrink {
		max-height: 0px !important;
		transition: 500ms;
	}

	.hidden {
		opacity: 0;
		transition: 300ms;
	}

	.nav-button {
		text-align: center;
	}

	.container {
		padding: 0;
	}

	header.main-header .container {
		justify-content: flex-end;
		/* height: 57vh; */
	}

	nav.nav-header .container, nav.nav-footer .container {
		flex-direction: column;
		align-items: center;
		font-size: 1.8rem;
		padding: 2% 0;
	}

	nav.nav-header a  {
		margin: 10% 0;
	}

	.nav-logo {
		margin-bottom: 2%;
	}

	.nav-links {
		flex-basis: 60%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.header-image {
		align-items: flex-start;
		flex-basis: 40%;
	}

	.header-image img {
		border-radius: 0;
		width: 90%;
	}

	.header-text {
		justify-content: center;
		margin-top: 2%;
	}

	header.main-header button {
		min-width: 32%;
	}

	.cta {
		background: transparent;
	}

	.product-description-section .container {
		flex-direction: column;
		padding-bottom: 7%;
	}

	.product-box-description h4 {
		margin-bottom: 3%;
	}

	.product-box:first-of-type {
		margin-top: 14%;
	}

	.product-box {
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 85%;
		margin: 5% auto;
		background: #566580;
		padding: 3% 7%;
	}

	.product-box i {
		margin-bottom: 3%;
	}

	#nav-footer-container {
		padding-top: 5%;
	}
}

@media (max-width: 601px) {
	header.main-header button {
		min-width: 26%;
		padding: 2.5%;
	}
}

@media (max-width: 431px) {
	header.main-header button {
		padding: 3%;
		min-width: 36%;
	}
}

@media (max-width: 350px) {
	header.main-header h1 {
		font-size: 2rem;
	}

	.cta h4 {
		font-size: 2rem;
	}

	.cta p {
		font-size: 1.6rem;
	}
}
/* -------Breakpoints for About.html ------------------------------------------------------------------------------------------*/

@media (max-width: 800px) {

	header.about-header {
		padding: 10% 0;
	}

	.container {
		padding: 0 4%;
	}

	.about-profiles {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: 5%;
	}

	.about-person {
		margin-bottom: 5%;
	}

	.about-person:nth-child(odd) {
		background: #3c4b65;
		margin-bottom: 0;
	}

	.about-person:last-of-type {
		margin-bottom: 8%;
	}

	.about-section h1 {
		font-size: 2.3rem;
	}

	.about-section p {
		font-size: 1.6rem;
	}

	.about-social {
		margin-top: 4%;
	}

	.about-social i {
		font-size: 2.5rem;
	}

	.about-social a:first-of-type {
		margin-right: 5%;
	}
}

@media (max-width: 500px) {

	header.about-header h1 {
		font-size: 2.5rem;
	}
	.container {
		padding: 0;
	}

	.about-bio {
		margin-bottom: 8%;
	}

	.about-section h1 {
		margin-top: 5%;
	}

	.product-description-section .container {
		padding: 1.5% 0;
	}

	.cta {
		margin-bottom: 8%;
	}

	.about-social {
		margin-top: 4%;
	}

	.about-social i {
		font-size: 2.8rem;
	}

	.about-social a:first-of-type {
		margin-right: 13%;
	}
}

/* ----------breakpoints for CONTACT------------------------------------------------------------------------------------------- */

@media (max-width: 800px) {
	.contact-container {
		flex-direction: column;
	}

	.contact-section {
		margin-bottom: 5%;
	}

	.contact-image {
		width: 50%;
		margin-bottom: 4%;
	}

	#contact-footer {
		position: static;
	}

	@media (max-width: 500px) {

		.contact-image {
			display: none;
		}

		.contact-section {
			margin-top: 20%;
		}

		.contact-section h1 {
			margin-bottom: 8%;
		}

		.contact-form input {
			border: 2px solid #fff;
			border-radius: 9px;
			background: transparent;
			color: #fff;
			font-size: 1.5rem;
			font-family: var(--sub-font);
			width: 65%;
			padding: 1.5% 2%;
			margin-bottom: 5%;
			/* text-align: center; */
		}

		.contact-form textarea {
			border-radius: 10px;
			border: 2px solid #fff;
			background: transparent;
			color: #fff;
			font-size: 1.6rem;
			font-family: var(--sub-font);
			width: 67%;
			height: 200px;
			margin-bottom: 5%;
			padding: 1%;
		}

		#contact-footer {
			position: fixed;
			bottom: 0;
		}
	}
}